@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  text-align: center;
  font-family :'Gill Sans', 'Gill Sans MT';
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}